    <table border='1'>
        <tr valign='top'>
            <td><img src="{{ post.author.avatar(20) }}"></td>
            <td>
            <!--{% if post.language and post.language != g.locale %}-->
            <!--<br><br>-->
                <!--<a href="#">{{ _("Translate") }}</a>-->
            <!--{% endif %}-->
            {% autoescape false %}
            <!--<i>{{ post.author.nickname }} says:   {{ Momentjs(post.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</i>-->
            {% set user_link %}
                <a href="{{ url_for('auth.user', nickname=post.author.nickname) }}">{{ post.author.nickname }}</a>
            {% endset %}
            <p>{{ user_link }} said  {{Momentjs(post.timestamp).fromNow() }}</p>
            {% endautoescape %}
            <br> <b> {{ post.body }}</b>
            </td>
        </tr>
    </table>
 
