{% extends 'base.html'%}
{% block content %}
    <h1>Hi,{{user.nickname}}! this is your blogs</h1>
    <form action="" method='post' name="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Say something:</td>
                <td>{{ form.post(size=30,cols=100, maxlength=140) }}
                    {% for error in form.post.errors %}
                        <br><span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' value="Post!"></td>
            </tr>
        </table>
    </form>

{% for post in posts.items %}
    <!--<div><p>{{post.author.nickname}} says:{{post.body}}</p></div>-->
    {% include 'post.html' %}
{% endfor %}
{% if posts.has_prev %}
    <a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt;前一页</a>
{% else %}&lt;&lt;前一页
{% endif %}|
{% if posts.has_next %}
    <a href="{{ url_for('index', page=posts.next_num) }}">后一页 &gt;&gt;</a>
{% endif %}


{% endblock %}
